{% if messages %}
  {% for message in messages %}
    <div class="bottom-4 right-4 flex justify-between items-center"
         x-data="{dismissed: false}"
         x-show="!dismissed"
         x-init="setTimeout(() => dismissed=true, 2000)">
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} block">
        <span>{{ message }}</span>
        <button class="btn btn-circle btn-sm" @click="dismissed=true">
          <svg xmlns="http://www.w3.org/2000/svg"
               class="h-6 w-6"
               fill="none"
               viewBox="0 0 24 24"
               stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>
  {% endfor %}
{% endif %}
