<tr>
  <td>{{ todo.description }}</td>
  <td>{{ todo.is_completed }}</td>
  <td>{{ todo.created_at }}</td>
  <td>
    {% if not todo.is_completed %}
      <button class="btn btn-success btn-xs"
              hx-post="{% url 'todo:complete-todo' todo.pk %}"
              hx-target="closest tr"
              hx-swap="outerHTML">Mark Completed</button>
    {% endif %}
    <button class="btn btn-error btn-xs"
            hx-delete="{% url 'todo:delete-todo' todo.pk %}">Delete</button>
  </td>
</tr>
