{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
  {{ user.username }}
{% endblock title %}
{% block content %}
  <div class="space-y-12">
    <div class="border-b border-gray-900/10 pb-12">
      <h1 class="w-full flex-none mb-3 text-2xl leading-none text-slate-900">{{ user.username | upper }}</h1>
      <br />
      <form method="post" action="{% url 'users:update' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <br />
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>
  </div>
{% endblock content %}
